@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;

		--test: hsl(297, 46%, 37%);
		--destructive: hsl(0, 85%, 36%);
		--warning: hsl(46, 100%, 59%);

		--spotlightColor: hsl(0, 0%, 100%);

		--background-start: hsl(36, 76%, 84%);
		--background-accent: #d0b9a1;

		--accentSubtle-start: hsl(204, 8%, 93%);
		--accentSubtle-alt1: hsl(204, 8%, 87%);
		--accentSubtle-alt2: hsl(212, 11%, 70%);
		--accentSubtle-alt3: hsl(212, 17%, 68%);
		--accentSubtle-alt4: hsl(212, 12%, 55%);

		--accentHard-start: hsl(234, 100%, 81%);
		--accentHard-alt1: hsl(237, 100%, 76%);
		--accentHard-alt2: hsl(240, 100%, 71%);
		--accentHard-alt3: hsl(244, 91%, 65%);
		--accentHard-alt4: hsl(247, 57%, 51%);

		--foreground: hsl(0, 0%, 0%);
		--foreground-alt1: hsl(240, 1%, 14%);
		--foreground-inverse: hsl(240, 15%, 90%);
	}
	.dark {
		--test: hsl(297, 100%, 50%);
		--destructive: hsl(0, 74%, 49%);
		--warning: hsl(46, 100%, 59%);

		--spotlightColor: hsl(244, 91%, 65%);

		--background-start: hsl(240, 4%, 11%);
		--background-accent: hsl(0, 0%, 0%);

		--accentSubtle-start: hsl(204, 22%, 13%);
		--accentSubtle-alt1: hsl(205, 21%, 28%);
		--accentSubtle-alt2: hsl(204, 21%, 46%);
		--accentSubtle-alt3: hsl(205, 21%, 64%);
		--accentSubtle-alt4: hsl(202, 20%, 82%);

		--accentHard-start: hsl(247, 57%, 51%);
		--accentHard-alt1: hsl(244, 91%, 65%);
		--accentHard-alt2: hsl(240, 100%, 71%);
		--accentHard-alt3: hsl(237, 100%, 76%);
		--accentHard-alt4: hsl(234, 100%, 81%);

		--foreground: hsl(0, 0%, 98%);
		--foreground-alt1: hsl(204, 16%, 82%);
		--foreground-inverse: hsl(0, 0%, 0%);
	}
}

:root,
body {
	background-color: var(--background-start);
}
