@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;

		/* always the same regardless of theme */
		--text-white: #fdfdfd;
		--text-black: #050607;
		/* always the same regardless of theme */

		--test: #85338a;

		--primary-e2: #ceffc6;
		--primary-e1: #95fe8b;
		--primary: #36fb48;
		--primary-h1: #31a034;
		--primary-h2: #214e1f;

		--secondary-e2: #d2c4ff;
		--secondary-e1: #9f8bfc;
		--secondary: #6c6bff;
		--secondary-h1: #43399e;
		--secondary-h2: #27204d;

		--neutral-e8: #050607;
		--neutral-e7: #101316;
		--neutral-e6: #262838;
		--neutral-e5: #656675;
		--neutral-e4: #7c7d8d;
		--neutral-e3: #c6c7d8;
		--neutral-e2: #d9daec;
		--neutral-e1: #f4f4f9;
		--neutral: #fdfdfd;

		--system-success: #36fb48;
		--system-warning: #ffce2e;
		--system-error: #ef2424;
	}

	.dark {
		--test: #f200ff;

		--primary-e2: #ceffc6;
		--primary-e1: #95fe8b;
		--primary: #36fb48;
		--primary-h1: #31a034;
		--primary-h2: #214e1f;

		--secondary-e2: #d2c4ff;
		--secondary-e1: #9f8bfc;
		--secondary: #6c6bff;
		--secondary-h1: #43399e;
		--secondary-h2: #27204d;

		--neutral-e8: #fdfdfd;
		--neutral-e7: #f4f4f9;
		--neutral-e6: #d9daec;
		--neutral-e5: #c6c7d8;
		--neutral-e4: #7c7d8d;
		--neutral-e3: #656675;
		--neutral-e2: #262838;
		--neutral-e1: #101316;
		--neutral: #050607;

		--system-success: #36fb48;
		--system-warning: #ffce2e;
		--system-error: #ef2424;
	}
}
